* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

.root {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  cursor: url(../assets/marker.png) -2 14, auto;
}

.grid {
  width: 9px;
  height: 9px;
  margin: 1.5px;
  background-color: #1d1d1d;
  box-shadow: 0 0 .5px #000;
  border-radius: 50%;
  transition: 1s ease;
}