* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.root input {
  height: 30px;
  padding-left: 10px;
  font-family: monospace;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.root button {
  padding: 10px;
  font-size: 15px;
  color: #2d2b57;
  background-color: #f8d000;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.root pre {
  height: 400px;
  overflow: auto;
  border-bottom-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.root pre::-webkit-scrollbar {
  display: none;
}

.a {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 30%;
}

.b {
  width: 70%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

#board {
  padding: 10px 30px;
  height: 400px;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px;
  border-right: 1px dashed rgba(0, 0, 0, .15);
}

#board::-webkit-scrollbar {
  display: none;
}

#board > p {
  color: #2d2b57;
  margin: 10px 0;
}